html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
a,
p,
label {
  margin: 0;
  padding: 0;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
